
body {
    margin: 0;
    font-family: sans-serif !important;
    overflow-x: hidden;
}



.bg-image{
    background-image: url("assets/hero-man.jpg");
    top: 0;
    z-index: 0;
    width: 100%;
    background-size: cover; 
    height: 96vh;
}

 section {
    width: 100%;
    overflow-x: hidden;
 }

 .row {
    width: 100%;
 }

 

.top-zero{
    top: 0;
}

.transparent{
    background-color: transparent !important;
}

.navbar {
    background-color: transparent;
    overflow: hidden;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.orange-line {
    border-bottom: 7px solid orange;
    width: 7%;
    border-radius: 10px;
}

.navbar img {
    float: left;
    height: 50px;
    margin-right: 20px;
}

.trainers .card {
    position: relative;
    width: 350px;
    height: 300px;
}

.image-around{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 110%;
    height: 60px;
    transform: translate(-50%, -50%);
    background-color: lime;
    z-index: -1;
    transition: 0.5s all linear;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #cf821d;
    position: relative;
    
    z-index: 5;
}



p {
    color: black;
    font-size: 30px;
}

.navbar-links a {
    float: center;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
    padding: 14px 16px;
    margin: 0 10px;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#navbar-ul{
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.navbar-button{
    float: center;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 12%;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    margin: 0 10px;
}

#s1-card{
    width: 325vw !important;
    height: auto;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar button:hover {
    background-color: #ddd;
    color: black;
}

.active-button {
    background-color: #ffc207 !important;
    border: none ;
}

.deactive-button{
    background-color: rgb(46,94,156) !important;
    border: none ;
}

.clip {
    visibility: hidden;
    background-color: #355592;
    height: 350px;
    width: 300px;
    clip-path: polygon(5% 65%, 15% 65%, 15% 55%, 85% 55%, 85% 65%, 95% 65%, 95% 85%, 85% 85%, 85% 95%, 15% 95%, 15% 85%, 5% 85%);
    position: absolute;
    top: 0; 
    left: 0;
}

.shape-with-text h6 {
    position: absolute;
    font-size: x-large;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    align-items: center;
}

.shape-with-text p {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: medium;
    align-items: center;

}

.interactiveBox1 {
    border: solid;
    border-radius: 5%;
    border-color: #fb9e12;
    height: 350px;
    width: 300px;
    position: relative;
    background-image: url("assets/trainer1.jpg");
}


.interactiveBox2 {
    border: solid;
    border-radius: 5%;
    border-color: #fb9e12;
    height: 350px;
    width: 300px;
    position: relative;
    background-image: url("assets/trainer2.jpg");
}

.interactiveBox3 {
    border: solid;
    border-radius: 5%;
    border-color: #fb9e12;
    height: 350px;
    width: 300px;
    position: relative;
    background-image: url("assets/trainer3.jpg");
}

.interactiveBox1 .interactiveBorderBottom,
.interactiveBox1 .interactiveBorderLeft,
.interactiveBox1 .interactiveBorderRight {
    transition:  bottom 0.3s, left 0.3s, right 0.3s, top 0.3s;
}

.interactiveBox1:hover .clip {
    visibility: visible;
}

.interactiveBox2:hover .clip {
    visibility: visible;
}

.interactiveBox3:hover .clip {
    visibility: visible;
}

.interactiveBox1:hover .interactiveBorderBottom {
    left: 20%;
    right: 20%;
    top: 100%;
}

.interactiveBox1:hover .interactiveBorderLeft {
    position: absolute;
    top: 20%;
    bottom: 10%;
    right: 100%;
}

.interactiveBox1:hover .interactiveBorderRight {
    position: absolute;
    top: 20%;
    bottom: 10%;
    left: 100%;
}
.interactiveBox2 .interactiveBorderBottom,
.interactiveBox2 .interactiveBorderLeft,
.interactiveBox2 .interactiveBorderRight {
    transition:  bottom 0.3s, left 0.3s, right 0.3s, top 0.3s;
}


.interactiveBox2:hover .interactiveBorderBottom {
    left: 20%;
    right: 20%;
    top: 100%;
}

.interactiveBox2:hover .interactiveBorderLeft {
    position: absolute;
    top: 20%;
    bottom: 10%;
    right: 100%;
}

.interactiveBox2:hover .interactiveBorderRight {
    position: absolute;
    top: 20%;
    bottom: 10%;
    left: 100%;
}
.interactiveBox3 .interactiveBorderBottom,
.interactiveBox3 .interactiveBorderLeft,
.interactiveBox3 .interactiveBorderRight {
    transition:  bottom 0.3s, left 0.3s, right 0.3s, top 0.3s;
}


.interactiveBox3:hover .interactiveBorderBottom {
    left: 20%;
    right: 20%;
    top: 100%;
}

.interactiveBox3:hover .interactiveBorderLeft {
    position: absolute;
    top: 20%;
    bottom: 10%;
    right: 100%;
}

.interactiveBox3:hover .interactiveBorderRight {
    position: absolute;
    top: 20%;
    bottom: 10%;
    left: 100%;
}


.interactiveBorderLeft {
    border-left: 10px solid #355592;
    position: absolute;
    top: 33%;
    bottom: 33%;
    right: 100%;
}

.interactiveBorderTop {
    border-top: 10px solid #355592;
    position: absolute;
    left: 33%;
    right: 33%;
    bottom: 100%;
}

.interactiveBorderBottom {
    border-bottom: 10px solid #355592;
    position: absolute;
    left: 33%;
    right: 33%;
    top: 100%;
}

.interactiveBorderRight {
    border-left: 10px solid #355592;
    position: absolute;
    top: 33%;
    bottom: 33%;
    left: 100%;
}

.shop-card {
    margin: 0 10px;
}

.cart-btn{
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    border: none;
    padding: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    transition: background-color 0.3s, color 0.3s;
}

.cart-btn:hover{
    border-radius: 6%;
    background-color: black;
    color: #ffffff;
    font-weight: bold;
    border: none;
}

.right-triangle{
    
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    width: 42px;
    height: 42px;
    background-color: #8096be;
    
}


.left-triangle{
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    width: 42px;
    height: 42px;
    background-color: #8096be;
    
    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    
}

.list-container {
    display: flex;
    flex-direction: column;
}

.list-unstyled {
    padding: 0;
    list-style: none;
}

.list-unstyled li {
    margin-bottom: 5px;
    font-size: medium;
}

.foooter-text{
    font-size: medium;
    color: white;    
}

.cart-btn-footer{
    display: block;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    padding-top: 1;
    padding-bottom: 1%;
}

@media screen and (max-width: 577px) {
    #cards{
        align-items: center;
    }
    .card {
    
        margin-bottom: 20px; 
    }
    .left {
        margin-bottom: 1rem;
    }

    .display-1 {
        font-size: 2rem;
    }

    .row #card {
        flex: 0 0 calc(100% - 16px);
        margin-bottom: 16px;
    }

    #nav{
        flex: 0 0 100%;
    }
}

@media screen and (min-width: 577px) {
    #cards {
        display:flexbox;
        flex-wrap:initial;
        justify-content: space-between;
    }

    .row #card {
        flex: 0 0 calc(25% - 16px);
        margin-bottom: 16px;
}
}